<h2>All Growers</h2>
<hr>
<% if @users.any?() %>
    <% @users.each do |user| %>
    <h4><a href="/users/<%= user.id() %>"><%= user.name() %></a></h4>
    <% end %>
<% else %>
  <h4>There are no growers yet!</h4>
  <br>
  <a href="/createaccount"><h4><em>Add a Grower</em></h4></a>
<% end %>
