<% if @users.any?() %>
  <h2>All Growers</h2>
  <hr>
      <% @users.each do |user| %>
      <h4><a href="/users/<%= user.id() %>"><%= user.name() %></a></h4>
      <% end %>

<% else %>
  <p>There are no growers yet!</p>
<% end %>
