<h3>Login to your account:</h3>
  <div class="form">
    <form action="/login" method="post" class="form-container">
      <p><label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control"></p>
      <p><label for="password">Password:</label>
      <input id="password" name="password" type="text" class="form-control"></p>
      <p><button type="submit">Login</button></p>
    </form>
  </div>
  <% if @error_message != nil %>
    <%= @error_message %>
  <% end %>
