
<h3>Create a new account:</h3>
  <div class="form">
    <form action="/accounts" method="post" class="form-container">
      <p><label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control"></p>
      <p><label for="profile">Tell us about yourself:</label>
      <input id="profile" name="profile" type="text" class="form-control"></p>
      <p><label for="password">Password:</label>
      <input id="password" name="password" type="text" class="form-control"></p>
      <p><label for="quadrant">Quadrant</label>
      <select id="quadrant" name="quadrant" type="text" class="form-control"></p>
      <option value='Northwest'>Northwest</option>
      <option value='Southwest'>Southwest</option>
      <option value='Northeast'>Northeast</option>
      <option value='Southeast'>Southeast</option></select></p>
      <p><button type="submit" class="btn btn-info">Create Account</button></p>
    </form>
  </div>
