<h2>Welcome, <%= @user.name %>!</h2>

<h4><a href="/produce">Get started by adding produce you'd like to trade.</a></h4>


<a href="/produce/available">See what's available</a>
<br>
<a href="/produce">Post some produce</a>
<br>
<a href="/events/new">Add an event</a>
<br>
