<% if @id != nil %>
  <% if @user != nil %>
    <h2>Welcome, <%= @user.name %>!</h2>
    <hr>
  <% end %>
    <div class="todo">
      <div class="row">
        <div class="col-md-4">
          <a href="/produce/available"><img src="../img/available.png" alt="See what's available"></a>
        </div>
        <div class="col-md-4">
          <a href="/produce"><img src="../img/postproduce.png" alt="Post produce"></a>
        </div>
        <div class="col-md-4">
          <a href="/events/new"><img src="../img/events.png" alt="Add an event"></a>
        </div>
      </div>
    </div>
  <% else %>
  <div class="login-container">
    <div class="login">
      <form action="/login" method="post">
        <h1>LOGIN TO GET STARTED</h1>
        <label for="name">USERNAME</label>
        <input id="username" name="name" type="text">
        <label for="password">PASSWORD</label>
        <input id="password" name="password" placeholder="password" type="password">
        <br><br><button id="login-button" type="submit" class="btn">LOGIN</button>
        <h6><a href="/createaccount">CREATE A NEW ACCOUNT</a></h6>
      </form>
    </div>
  <!-- </div>
    <div class="accounts">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3" id="createaccount">
          <p><a href="/createaccount"><img src="../img/createaccount.png" alt="Create Account"></a></p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3" id="login" >
          <p><a href="/login"><img src="../img/login.png" alt="Log In"></a></p>
        <div class="col-md-2">
        </div>
        </div>
      </div>
    </div> -->
<% end %>
