<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Produce Exchange</title>
  </head>
  <body>
    <div class="navbar1">
      <h3><a href="/">Home</a></h3>
      <h3><a href="/produce/available">Produce</a></h3>
      <h3><a href="/events">Events</a></h3>
      <h3><a href="/users">Growers</a></h3>
    </div>
    <div class='jumbotron'>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
