<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Produce Exchange</title>
  </head>
  <body>
    <div class='topnav'>
      <a class='active' href='/'>Home</a>
      <a href='#available'>Available</a>
      <a href='#post'>Post</a>
      <a href ='#events'>Events</a>
      <a href ='#community_advice'>Community Advice</a>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
