<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans" rel="stylesheet">
    <title>Produce Exchange</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><span id="dark">Produce</span> <img src="../img/leaf.jpg" alt="leaf icon"> <span id="light">Exchange</span></h1>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id= "nav">
          <ul>
            <li><p><a href="/">Home</a></li></p>
            <li><p><a href="/produce/available">Produce</a></p></li>
            <li><p><a href="/events">Events</a></p></li>
            <li><p><a href="/users">Growers</a></p></li>
            <li><p><a href="/logout">Log Out</a></p></li>
          </ul>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class='jumbotron'>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
