<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='<%= url('../css/styles.css')%>'>
    <script type='text/javascript' src='../js/scripts.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <title>Produce Exchange</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
      <div class='topnav'>
        <a class='active' href='/'>Home</a>
        <a href='#available'>Available</a>
        <a href='#post'>Post</a>
        <a href ='#events'>Events</a>
        <a href ='#community_advice'>Community Advice</a>
      </div>
  </body>
</html>
