/*html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  background-color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1485637701894-09ad422f6de6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43432c56137d60cc6e8448fe36a43df9&auto=format&fit=crop&w=1320&q=80');
    height: 300px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.header h1 {
  font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}

#nav {
  align-self: center;
	text-align: center;
	background-color: white;
}

#nav ul {
	list-style: none;
	text-align: center;
	width: 500%;
  font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  padding-left: 200px;
}

#nav ul li {
	float: left;
	padding: 15px 20px 15px 20px;
	text-transform: uppercase;
}

#nav ul li:hover {
	background-color: #b2d2b7;
	color: white;
}

#nav a {
	color: black;
}


#dark {
	color: #094512;
}

#light {
	color: #b2d2b7;
}

#header {
	text-align: center;
	padding-top: 0px;
	border-bottom: solid black 1px;
	background-color: white;
}

.accounts {
  align: center;
  text-align: center;
}

.accounts img {
  width: 18%;
}


/*
a{
  color: #837F8A;
}

ul {
  list-style: none;
}
li a{
  font-size: 18px;
}

li{
  margin-top: 8px;
}

h2 {
  text-decoration: underline;
  margin-top: 30px;
} */
