html {
  background: url('https://images.unsplash.com/photo-1501152860390-73e9144ad3a8?ixlib=rb-0.3.5&s=b0a248456242297ac1a0613d99737d47&auto=format&fit=crop&w=1868&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**{
  border: 1px black solid;
}*/

body{
  background: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar1{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-bottom: 2px #837F8A solid;
}

a{
  color: #837F8A;
}

ul {
  list-style: none;
}
li a{
  font-size: 18px;
}

li{
  margin-top: 8px;
}

h2 {
  text-decoration: underline;
  margin-top: 30px;
}
