<h2>Edit <%= @produce.produce_type() %> </h2>

<form action="/produce/<%= @produce.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

    <label for="produce_type">Rename the produce:</label>
    <input id="produce_type" name="produce_type" type="text">
    <br>
    <label for="description">Change description:</label>
    <input id="description" name="description" type="text">
    <br>
    <label for="trade">Change trade:</label>
    <input id="trade" name="trade" type="text">

    <button type="submit" class="button btn-success">Update Produce</button>
</form>

<form action="/produce/<%= @produce.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="button btn-danger">Delete Produce</button>
</form>
