<% if @user_id != nil %>
<h3>Add produce you want to trade:</h3>
<div class="form">
  <form action="/produce" method="post" class="form-container" enctype="multipart/form-data">
    <p><label for="produce_type">Produce Type</label>
    <input id="produce_type" name="produce_type" type="text" class="form-control"></p>
    <p><label for="description">Describe your Produce:</label>
    <textarea id="description" name="description" type="text" class="form-control"></textarea></p>
    <p><label for="trade">What are you looking to trade for:</label>
    <textarea id="trade" name="trade" type="text" class="form-control"></textarea></p>
    <br>
    <p><label for="image">Upload an Image:</label>
     <input class="longer-input" type="text" name="image"></p>
    <p><button type="submit" class="btn btn-info">Post Produce</button></p>
  </form>
  <% if @error_message != nil %>
    <%= @error_message %>
  <% end %>
</div>
<% else %>
<h3>Please create an account or login first!</h3>
<a href="/createaccount">Create a new account</a>
<br>
<a href="/login">Log in</a>
<br>
<% end %>
