<h2>Upcoming Events</h2>
<hr>
<% if @events.any?() %>
  <div class="row">
    <div class="col-md-7">
      <ul>
      <% @events.each do |event| %>
      <h3><li><a href="/events/<%= event.id() %>"><%= event.title() %></a></li></h3>
      <% end %>
      </ul>
    </div>
    <div class="col-md-5">
      <h3>Add event:</h3>
      <a href="/events/new"><img src="../img/events.png" alt="Add an event"></a>
      <hr>
      <div class="row">
        <!DOCTYPE html>
        <html>
          <head>
            <meta charset="utf-8">
            <title>Google Map</title>
            <style media="screen">
              body {
                margin-left: 50px;
              }
              #map {
                height: 220px;
                width: 60%;
              }
            </style>
          </head>
          <body>
            <h3>Portland Community Gardens</h3>
            <div id="map"></div>
            <script>
            function initMap(){
              //map options
              var options = {
                zoom: 10,
                center:{lat:45.5231,lng:-122.6765}
              }
              // new map
              var map = new google.maps.Map(document.getElementById('map'), options);
              // North Portland(Johns, Portsmouth)
              addMarker({
                coords:{lat:45.5863,lng:-122.75502},
                content:'<h6>St Johns Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.5853,lng:-122.7719426},
                content:'<h6>Portsmouth Community Garden</h6>'
              });
              // Northwest(Adams)
              addMarker({
                coords:{lat:45.52687,lng:-122.726793},
                content:'<h6>Adams Community Garden</h6>'
              });
              // Southeast(Brentwood, Earl Boyles, Lents, Peace)
              addMarker({
                coords:{lat:45.4735,lng:-122.604},
                content:'<h6>Brentwood Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.4748,lng:-122.5489},
                content:'<h6>Earl Boyles Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.516018,lng:-122.681425},
                content:'<h6>Lents Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.511617,lng:-122.532094},
                content:'<h6>Peace Community Garden</h6>'
              });
              // Northeast(Cully, Everett, Hazelwood, Woodlawn)
              addMarker({
                coords:{lat:45.562806,lng:-122.620408},
                content:'<h6>Cully Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.516018,lng:-122.681425},
                content:'<h6>Everett Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.516018,lng:-122.681425},
                content:'<h6>Hazelwood Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.568261,lng:-122.653972},
                content:'<h6>Woodlawn Community Garden</h6>'
              });
              // Southwest(Front and Curry, Water and Gibbs)
              addMarker({
                coords:{lat:45.4978,lng:-122.6782},
                content:'<h6>Front and Curry Community Garden</h6>'
              });
              addMarker({
                coords:{lat:45.511617,lng:-122.532094},
                content:'<h6>Water and Gibbs Community Garden</h6>'
              });
              function addMarker(props) {
                var marker = new google.maps.Marker({
                  position:props.coords,
                  map: map
                });

              if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content: props.content
              });

              marker.addListener('click', function(){
                infoWindow.open(map, marker);
              });
            };
          };
        };

            </script>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVGrwkLoI-DY42RWuGn8FKkUWv_ErYs8&callback=initMap">
            </script>
            <script type="text/javascript">
            </script>

          </body>
        </html>

      </div>
    </div>
  </div>
<% else %>
  <h4>There are no events yet!</h4>
  <br>
  <h4><em>Add an Event:</em</h4>
  <a href="/events/new"><img src="../img/events.png" alt="Add an event"></a>
<% end %>
